*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --strong-cyan:  hsl(171, 66%, 44%);
    --light-blue:  hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --bai-jamjuree: 'Bai Jamjuree', sans-serif;
}
body{
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 500px;
    margin: auto;
    font-family: var(--bai-jamjuree);
}
@media screen and (min-width: 500px){
    body{
        background-image: url(./images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.sect1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0px 50px 0px;
}
.sect1 > img{
    padding-bottom: 70px;
}
.first{
    text-align: center;
}
h3{
    color: var(--dark-grayish-blue);
    font-size: 2em;
    padding-bottom: 25px;
}
.sect1 .first > p{
    font-size: 1em;
    text-align: center;
    line-height: 25px;
    color: var(--grayish-blue);
    padding-bottom: 40px;
}
.first-btns{
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}
.ios-btn{
    background-color: var(--strong-cyan);
    color: white;
    box-shadow: 0px 0px 10px 0px /*hsl(0, 0%, 69%)*/ hsl(171, 66%, 44%);
    font-size: 1em;
    border: 1px solid hsl(171, 66%, 44%);
    font-family: var(--bai-jamjuree);
    font-weight: 600;
    cursor: pointer;
    border-radius: 250px;
    padding: 20px;
    width: 20em;
    margin-bottom: 25px;
}
.mac-btn{
    background-color: var(--light-blue);
    color: white;
    box-shadow: 0px 0px 10px 0px var(--light-blue);
    font-size: 1em;
    border: 1px solid var(--light-blue);
    font-family: var(--bai-jamjuree);
    font-weight: 600;
    cursor: pointer;
    border-radius: 250px;
    padding: 20px;
    width: 20em;
}
@media screen and (min-width: 600px){
    .sect1{
        margin: auto;
        width: 600px;
        padding: 90px 0px 50px 0px;
    }
    .sect1 > img{
        width: 100px !important; 
        padding-bottom: 40px;
    }
    h3{
        font-size: 2em;
        font-weight: 700;
    }
    .first-btns{
        display: flex;
        flex-direction: row;
        padding-bottom: 0px;
    }
    .ios-btn{
        margin-right: 20px;
        margin-bottom: 0px;
        width: 15em;
        padding: 15px;
    }
    .mac-btn{
        width: 15em;
        padding: 15px;
    }
}
.sect2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 0px 50px 0px;
}
h4{
    color:hsl(210, 10%, 33%);
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}
.sect2 > p{
    text-align: center;
    padding-top: 20px;
    color:hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 1em;
    line-height: 25px;
}
@media screen and (min-width: 600px){
    .sect2{
        padding: 100px 0px 40px 0px;
    }
    .sect2 > p{
        width: 700px;
        line-height: 30px;
        font-size: 1em;
    }
}
.sect3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
}
.sect3 > img{
    width: 200px;
    padding-bottom: 80px;
}
.sect3-para > h5{
    color:hsl(210, 10%, 33%);
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px
}
.sect3-para > p{
    text-align: center;
    padding-bottom: 50px;
    color:hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 1em;
    line-height: 25px;
}
.sect3-para > p{
    width: 300px;
}
@media screen and (min-width: 600px){
    .sect3{
        display: flex;
        flex-direction: row;
    }
    .sect3 > img{
        width: 50em;
        margin-left: -370px;
        padding-bottom: 0px;
    }
    .sect3-para{
        margin-left: 120px;
    }
    .sect3-para > h5{
        text-align: left;
        font-size: 1em;
        padding-bottom: 0px;
    }
    .sect3-para > p{
        text-align: left;
        width: 350px;
        font-size: 1em;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}
.sect4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 0px 0px;
}
.sect4 > h5{
    color:hsl(210, 10%, 33%);
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}
.sect4 > p {
    text-align: center;
    padding-bottom: 40px;
    color:hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 1em;
    line-height: 35px;
}
.devices{
    width: 200px;
}
@media screen and (min-width: 600px){
    .sect4{
        padding-top: 70px;
    }
    .sect4 > p {
        width: 600px;
        font-size: 1em;
        padding-bottom: 60px;
    }
    .sect4 > h5{
        font-size: 1.3em;
    }
    .devices{
        width: 600px;
        padding-bottom: 30px;
    }
}
.sect5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
}
.blacklists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 0px 0px;
}
.blacklists > img{
    padding-bottom: 30px;
}
.blacklists > h5{
    color:hsl(210, 10%, 33%);
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}
.blacklists > p{
    text-align: center;
    padding-bottom: 50px;
    color:hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 50px 0px;
}
.text > img{
    padding-bottom: 30px;
}
.text > h5{
    color:hsl(210, 10%, 33%);
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}
.text > p{
    text-align: center;
    padding-bottom: 0px;
    color:hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
}
.preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 50px 0px;
}
.preview > img{
    padding-bottom: 30px;
}
.preview > h5{
    color:hsl(210, 10%, 33%);
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}
.preview > p{
    text-align: center;
    padding-bottom: 50px;
    color:hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
}
@media screen and (min-width: 800px){
    .sect5{
        display: flex;
        flex-direction: row;
        padding: 0px;
        padding-top: 0px;
    }
    .blacklists{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 40px 0px 0px;
    }
    .blacklists > img{
        padding-bottom: 30px;
    }
    .blacklists > h5{
        color:hsl(210, 10%, 33%);
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
        padding-bottom: 20px;
    }
    .blacklists > p{
        text-align: center;
        padding-bottom: 0px;
        color:hsl(201, 11%, 66%);
        font-weight: 400;
        width: 300px;
        font-size: 1em;
        line-height: 30px;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 40px 0px 0px;
    }
    .text > img{
        padding-bottom: 30px;
    }
    .text > h5{
        color:hsl(210, 10%, 33%);
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
        padding-bottom: 20px;
    }
    .text > p{
        text-align: center;
        padding-bottom: 0px;
        color:hsl(201, 11%, 66%);
        font-weight: 400;
        width: 300px;
        font-size: 1em;
        line-height: 30px;
    }
    .preview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
    }
    .preview > img{
        padding-bottom: 30px;
    }
    .preview > h5{
        color:hsl(210, 10%, 33%);
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
        padding-bottom: 20px;
    }
    .preview > p{
        text-align: center;
        padding-bottom: 0px;
        color:hsl(201, 11%, 66%);
        font-weight: 400;
        width: 300px;
        font-size: 1em;
        line-height: 30px;
    }
}
.sect6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
}
.sect6 > img:nth-child(1){
    padding-bottom: 40px;
    width: 100px;
}
.sect6 > img:nth-child(2){
    padding-bottom: 40px;
    width: 100px;
}
.sect6 > img:nth-child(3){
    padding-bottom: 40px;
    width: 100px;
}
.sect6 > img:nth-child(4){
    padding-bottom: 40px;
    width: 100px;
}
.sect6 > img:nth-child(5){
    width: 100px;
}
@media screen and (min-width: 800px){
    .sect6{
        display: flex;
        flex-direction: row;
        width: 700px;
        margin: auto;
        padding: 80px 0px 50px 0px;
    }
    .sect6 > img:nth-child(1){
        padding: 0px 60px 0px 0px;
        width: 180px;
    }
    .sect6 > img:nth-child(2){
        padding: 0px 60px 0px 0px;
        width: 180px;
    }
    .sect6 > img:nth-child(3){
        padding: 0px 60px 0px 0px;
        width: 180px;
    }
    .sect6 > img:nth-child(4){
        padding: 0px 60px 0px 0px;
        width: 180px;
    }
    .sect6 > img:nth-child(5){
        padding: 0px 0px 0px 0px;
        width: 180px;
    }
}
.sect7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 130px 0px 50px 0px;
}
.sect7 > h6{
    color:hsl(210, 10%, 33%);
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}
.sect7 > p{
    text-align: center;
    padding-bottom: 50px;
    color:hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 1.1em;
    line-height: 30px;   
}
@media screen and (min-width: 600px){
    .sect7{
        padding: 50px 0px 80px 0px;
    }
    .sect7 > h6 {
        font-size: 1.5em;
    }
    .sect7 > p{
        width: 600px;
        font-size: 1em;
    }
}
footer{
    background-color: hsl(0, 0%, 93%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 50px 0px;
}
footer > img{
    width: 50px;
    padding-bottom: 30px;
}
.link1 > p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 30px; 
}
.link1 > p > a{
    text-decoration: none;
    color:hsl(210, 10%, 33%);
}
.link1 > p > a:hover{
    color: hsl(171, 66%, 44%);
    font-weight: 600;
}
.link2 > p {
    text-align: center;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 30px; 
}
.link2 > p > a{
    text-decoration: none;
    color:hsl(210, 10%, 33%);
}
.link2 > p > a:hover{
    color: hsl(171, 66%, 44%);
    font-weight: 600;
}
.link3 > p {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 30px; 
}

.link3 > p > a {
    text-decoration: none;
    color:hsl(210, 10%, 33%);
}
.link3 > p > a:hover{
    color: hsl(171, 66%, 44%);
    font-weight: 600;
}
.icons > .img-hov{
    padding: 30px 10px 0px 10px;
}
.img-hov:hover > svg > path{
    fill: hsl(171, 66%, 44%);
}
@media screen and (min-width: 600px){
    footer{
        display: flex;
        flex-direction: row;
        padding: 30px 0px 30px 0px;
        justify-content: space-around;
    }
    footer > img{
        width: 50px;
        padding-bottom: 0px;
    }
    .links{
        display: flex;
        flex-direction: row;
        padding-right: 100px;
    }
    
    .link1 > p {
        text-align: left;
        padding-right: 100px;
        font-weight: 400;
        font-size: .9em;
        line-height: 15px; 
    }
    .link1 > p > a{
        text-decoration: none;
        color:hsl(210, 10%, 33%);
    }
    .link2 > p {
        text-align: left;
        padding: 2px 50px 6px 2px;
        font-weight: 400;
        font-size: .9em;
        line-height: 30px; 
    }
    .link2 > p > a{
        text-decoration: none;
        color:hsl(210, 10%, 33%);
    }
    
    .link3 > p {
        text-align: center;
        font-weight: 400;
        font-size: .9em;
        line-height: 30px; 
    }
    .link3 > p > a {
        text-decoration: none;
        color:hsl(210, 10%, 33%);
    }
    .icons{
        padding-bottom: 50px;
    }
    .icons > .img-hov{
        padding: 30px 20px 0px 0px;
        cursor: pointer;
    }
    .img-hov:hover > svg > path{
        fill: hsl(171, 66%, 44%);
    }
}